<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bookizy | The fastest way to catch up with friends and family</title>
  <meta name="keywords" content="">
  <meta name="Hello Flippa" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="verifyownership" content="dc734be0acdb85d60fe98378aae21a86"/>
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Styles -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


  <%= stylesheet_link_tag "animate.css" %>
  <%= stylesheet_link_tag "font-awesome.min.css" %>
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "main.css" %>


  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag('modernizr-2.7.1.js') %>
</head>

<%= yield %>

</html>
